.bar
    .content
        img.logo(src="images/logo.svg")
        .titles
            h1 Flutter
            h2 Rennes
        .menu
            a(href="#contact") Contact
            a(href="#about") À propos
            a(href="#sponsors") Sponsors
            a.selected(href="#conferences") Conférences