#contact.contact
    h2= "Contact"
    .social
        a.icon(href=contact.twitter.link)
            img(src="images/icon-twitter.svg")
        .h-space
        a.icon(href=contact.github.link)
            img(src="images/icon-github.svg")
        .h-space
        a.icon(href=contact.mail.link)
            img(src="images/icon-mail.svg")