.flutter {
    p {
        color: $colorTextDark;
        font-size: $fontSizeRegular;
        font-weight: $fontWeightLight;
    }

    a {
        margin: $marginNormal 0;
        border-radius: 4px;
        display: block;
        color: white;
        width: 142px;
        background-color: $colorAccent;
        font-size: $fontSizeRegular;
        font-weight: $fontWeightLight;
        text-decoration: none;
        text-align: center;
        padding: 8px;
        &:hover {
            background-color: darken($colorAccent, 5%);
        }
    }
} 