$fontSizeBase: 14px;

$fontSizeExtraBig: $fontSizeBase * 2.0;
$fontSizeBig: $fontSizeBase * 1.8;
$fontSizeSemiBig: $fontSizeBase * 1.2;
$fontSizeRegular: $fontSizeBase * 1.0;
$fontSizeSemiSmall: $fontSizeBase * 0.8;
$fontSizeSmall: $fontSizeBase * 0.6;
$fontSizeExtraSmall: $fontSizeBase * 0.4;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;