@page {
    size: A4;
    margin: 0;
}


.page, page[size="A4"] {
    clear: both;
    width: 297mm;
    height: 210mm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.padding {
    clear: both;
    margin: 10mm;
}

@media print {
    @page { 
        size: landscape;
    }
    .page, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}

html {
    background: white;
}