doctype html
html
    include includes/head.pug
    body
        include includes/bar.pug
        .body
            include includes/next-session.pug
            .v-space
            include includes/sponsors.pug
            .v-space
            include includes/upcoming-conferences.pug
            include includes/passed-conferences.pug
            .v-space
            include includes/about.pug
            .v-space
            include includes/contact.pug
        